* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #000000f0;
  color: #edecece0;
  padding: 1.5rem;
}

button {
  font-size: inherit;
}

table {
  margin-top: 1rem;
  min-width: 200px;
}

.category {
  color: #7b9fdfe6;
  text-align: center;
  padding-top: 0.5rem;
}

.out-of-stock {
  color: rgb(103, 17, 17);
  text-decoration: line-through;
}
