* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #000000f0;
  color: #edecece0;
  padding: 1.5rem;
}

button {
  font-size: inherit;

  &:hover {
    color: black;
  }
}
